<div class="row">
    <div class="col-md-7">
        <h4 style="color: #fff;">User List</h4>
    </div>
    <div class="col-md-1">
        <label style="color: #fff;">Search By : </label>
    </div>
    <div class="col-md-4">
        <input type="text" id="myInput" class="form-control" [(ngModel)]="searchText" (input)="searchOption ($event)"
            placeholder="Search for template names.." title="Type in a template name">
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12" style="overflow-x:auto;">
        <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>NAME</th>
                <th>USERNAME</th>
                <th>EMAIL</th>
                <th>AGE</th>
                <th>ACTION</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of filteredTableData | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">    
                <td>{{item.firstName}} {{item.lastName}}</td>
                <td>{{item.username}}</td>
                <td>{{item.email}}</td>
                <td>{{item.age}}</td>
                <td>
                  <button class="btn btn-primary"><i class="fa fa-eye">&nbsp;</i>View</button>
                  <button class="btn btn-danger"><i class="fa fa-trash">&nbsp;</i>Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        <form class="pagination-wrapper">
            <div class="form-group pages">
                <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9"
                    directionLinks="true" autoHide="true" previousLabel="Prev" nextLabel="Next"
                    screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                    screenReaderCurrentLabel="You're on page">
                </pagination-controls>
            </div>
            <div class="form-group options pages">
                <div class="input-group input-group-sm">
                    <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize"
                        (ngModelChange)="loadData()" style="left: 96%; width: 4%; border: 1px solid;">
                        <option>1</option>
                        <option>5</option>
                        <option>10</option>
                        <option>20</option>
                        <option>50</option>
                        <option>100</option>
                        <option>200</option>
                    </select>
                    <span class="input-group-addon addon-right bg-primary" style="color: #fff">Per Page</span>
                </div>
            </div>
        </form>
    </div>
</div>
