@import '../../shared/theme/conf';
.login-card {
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: transparent;
    height: auto;
    border: 1px solid #2c2b2f;
    .form-group {
        padding: 0;
    }
    
    .form-label {
        display: block;
        color: #ffffff;
        padding: 0 10px;
        text-align: center;
    }
    span.form-label {
        color: #60606d;        
    }
    .input-group {
        padding: 0;
        margin: 25px 0;
    }
    .form-control {
        background: transparent;
        color: #ffffff;
        border: 1px solid #2c2b2f;
    }
    .input-group-addon {
        background: transparent;
        border: none;
        font-size: $lg-text;
        color: lighten($fonts-color, 20%);
    }
    .btn {
        width: 100%;
    }
    .btn-link {
        margin: 10px 0;
        color: #60606d;
    }

    .addon-left{
        border: 1px solid #2c2b2f;
        color: #ffffff;
    }
    ::placeholder {
        color: white !important;
        font-style: italic;
    }
    .btn-warning{
        background-color: #ff7403;
        box-shadow: none;
        -webkit-box-shadow: none;
        background-image: none;
    }
}