<div class="card card-block login-card">
  <h3 class="form-label">Register</h3>
  <span class="form-label">register in to continue to Lines</span>
  <form (ngSubmit)="register()" #registerForm="ngForm" name="form" role="form">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon addon-left" id="firstName">
        <i class="fa fa-user fa-fw"></i>
      </span>
      <input class="form-control with-primary-addon" placeholder="First Name" type="text" id="firstName" name="firstName" [(ngModel)]="registerModel.firstName" required>
    </div>
    <div class="input-group">
      <span class="input-group-addon addon-left" id="lastName">
        <i class="fa fa-user fa-fw"></i>
      </span>
      <input class="form-control with-primary-addon" placeholder="last Name" type="text" id="lastName" name="lastName" [(ngModel)]="registerModel.lastName" required>
    </div>
    <div class="input-group">
      <span class="input-group-addon addon-left" id="email">
        <i class="fa fa-envelope fa-fw"></i>
      </span>
      <input class="form-control with-primary-addon" placeholder="Email" type="text" id="email" name="email" [(ngModel)]="registerModel.email" required>
    </div>
    <div class="input-group">
      <span class="input-group-addon addon-left" id="password">
        <i class="fa fa-lock fa-fw"></i>
      </span>
      <input class="form-control with-primary-addon" placeholder="Password" type="password" id="password" name="password" [(ngModel)]="registerModel.password" required>
    </div>
    <div class="input-group">
      <span class="input-group-addon addon-left" id="phoneNumber">
        <i class="fa fa-phone fa-fw"></i>
      </span>
      <input class="form-control with-primary-addon" placeholder="Phone Number" type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="registerModel.phoneNumber" required>
    </div>
    <button class="btn btn-lg btn-warning" [disabled]="!registerForm.form.valid">Submit</button>
    <a href="" class="btn btn-link">← Go to login</a>
  </div>
</form>
</div>
